<h1>¡Bienvenidos!</h1>
<p class="mt-4">Esta es una plataforma, donde la libertad de expresión es respetada, hasta que sean afectadas la
integridad o principios de otras personas.</p>

<img src="https://www.swissinfo.ch/content/wp-content/uploads/sites/13/2021/02/8eac3ed3e49b5209e3deb75a52a1fc74-11_freedom-of-expression-data.jpg" class="perrito" alt="perrito" style="width: 750px">
