<p class="text-success"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1 class="mb-4">Posts</h1>

<div id="posts" class="list-group">
  <% @posts.each do |post| %>
    <div class="list-group-item">
      <%= render post %>
      <p class="mt-2">
        <%= link_to "Show this post", post, class: "btn btn-info" %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path, class: "btn btn-primary mt-4" %>
